
Examples/x64/

UnitTests/x64/

s2lib/x64/

x64/

\.vs/s2lib/v15/ipch/

\.vs/s2lib/v15/Browse\.VC\.db

\.vs/s2lib/v15/Browse\.VC\.opendb

\.vs/s2lib/v15/Solution\.VC\.db

\.vs/s2lib/v15/Solution\.VC\.db-shm

\.vs/s2lib/v15/Solution\.VC\.db-wal
